.ios, .md {
 
    page-home {
 
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
        #bars {
            height: 80%;
        }
 
    }
 
}